# Python dependencies
fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
databases[asyncpg]
alembic
bcrypt==4.0.1
python-multipart
# dev
pytest
httpx